/.phpunit.cache
/node_modules
/apache_logs
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
index*.html
index.html
notes.txt
/bak
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
